@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --digitalent-white: "white";
  --digitalent-green: #66b573;
  --digitalent-green-light: #d7e4dd;
  --digitalent-gray-light: #f2f2f2;
  --digitalent-gray-dark: #131313;
  --digitalent-yellow: #e7e248;
  --digitalent-blue: #193b44;
  --digitalent-mine: #363636;
}
